// :root {
//     --color-main: #4D9600;
//     --color-text: #000;
//     --color-border:#55A500;
//     --color-background:rgba(#4d9600, 0.1);
// }


$color-main: #4D9600;
$color-text: #000;
$color-border:#55A500;
$color-background:rgba(#4d9600, 0.1);

/*---------------
    base
---------------*/

html {
    -webkit-appearance: none;
    appearance: none;
    -webkit-text-size-adjust: 100%;
    word-break: break-all;
    font-size: 10px;
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

body {
    font-family: "Yu Mincho", "YuMincho", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: $color-text;
    font-size: 1.6rem;
    font-style: normal;
    line-height: calc(25 / 16);
    letter-spacing: 0;
}

#container {
    width: 100%;
}

/*---------------
common
---------------*/
/* PC, SPの非表示 */
@media (max-width: 767px) {
.pc1 {
   display: none !important;
  }
}

@media (max-width: 960px) {
.pc2 {
   display: none !important;
  }
}

@media (min-width: 961px) {
.hamburger {
   display: none !important;
  }
}

@media (min-width: 768px) {
.sp {
   display: none !important;
  }
}

.main {
    margin-top: 0;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.inner {
    max-width: 920px;
    margin: 0 auto;
}

.section__title {
    font-size: 3rem;
    line-height: calc(33 / 30);
    letter-spacing: 30%;
    color: $color-main;
    text-align: center;
}

.sub-title {
    font-size: 2rem;
    line-height: calc(33 / 20);
    color: $color-text;
    margin-top: 0.6rem;

}

/*---------------
header
---------------*/
.header {
    width: 100%;
    height: 8rem;
    // background: #777;
    padding-inline: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    @media (max-width: 767px) {
        padding-inline: 2rem;
        height: 5rem;
    }
}

.header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    height: inherit; 
    a {
        height: 8rem;
        display: flex;
        align-items: center;
        line-height: calc(20 / 20);
        font-size: 2rem;
        color: #fff;
        transition: opacity 0.4s;

        @media (max-width: 767px) {
            line-height: calc(33 / 20);
            height: 5rem;
        }

        @media (min-width: 768px) {
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.header__nav ul {
    display: flex;
    align-items: center;
    column-gap: 3rem;
    li a {
        height: 8rem;
        display: flex;
        align-items: center;
        line-height: calc(18 / 18);
        font-size: 1.8rem;
        color: #fff;
        transition: opacity 0.4s;

        @media (min-width: 768px)  {
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

/*---------------
ABOUTまでスクロールしたら背景塗りつぶし
---------------*/

.header {
    background-color: transparent;

    &[data-aos="header-bg"] {
        transition-property: background-color;
        transition-duration: 0.4s;

        &.aos-animate {
            background-color: $color-main;
        }
    }
}

/*---------------
ハンバーガーメニュー
---------------*/
.hamburger {
    position: relative;
    display: block;
    width: 7.2rem;
    height: 5rem;
    background: #fff;
        margin: {
            left: auto;
            right: -3rem;
        }
        @media (max-width: 767px) {
            margin-right: -2rem;
        }

        // 三本線
        span {
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 3.2rem;
            height: 0.4rem;
            background: $color-main;

            &:nth-of-type(1) {
                top:30%;
            }
            &:nth-of-type(3) {
                top:70%;
            }
        }
}


/*---------------
ナビゲーション中身
---------------*/
@media (max-width: 960px) {
    .header-menu {
        position: fixed;
        width: 30rem;
        height: auto;
        padding: 1.2rem 0 1.3rem 2rem;
        background: $color-main;
        top: 8rem;
        right: 0;
        transform: translate(100%);

        @media (max-width: 767px) {
            top: 5rem;
        }
        
        ul {
            display: block;
            margin: 0;
            
            text-align: center;
            font-size: 1.8rem;
            li a {
                    height: auto;
                    line-height: calc(33 / 18);
                }

            li:not(:last-of-type) {
                margin-bottom: 2.5rem;
                
            }
        }

    }
}


/*---------------
メニュー表示状態
---------------*/
.header-menu.is-open {
    transform: translate(0);
    transition: transform 0.4s;
}

/*---------------
メニューが開いた時の三本線
---------------*/
.hamburger.is-active {
    span {
        &:nth-of-type(1) {
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }
        &:nth-of-type(2) {
            opacity: 0;
        }
        &:nth-of-type(3) {
            top: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}

/*---------------
メニューを閉じる時
---------------*/
.header-menu.is-close {
    transform: translateX(100%);
    transition: transform 0.4s;
}

/*---------------
MVセクション
---------------*/
.mv {
    position: relative;
}

.infinite-slider .swiper-wrapper {
    transition-timing-function: linear;
}

.infinite-slider .swiper-slide img {
    aspect-ratio: 1080 / 800;
    object-fit: cover;

    @media (max-width: 767px) {
        aspect-ratio: 375 / 601;
    }
}

.mv__contents {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: calc(339 / 1080 * 100vw );
    background: rgba(#000, 0.15);
    display: flex;
    z-index: 100;

    @media (max-width: 767px) {
        padding-top: calc(219 / 375 * 100vw);
    }
}

.mv__catch {
    width: 100%;
    height: 100%;
    
    h2 {
        font-size: 4rem;
        font-weight: 600;
        color: #fff;
        line-height: calc(70 / 40);
        letter-spacing: 30%;
        text-align: center;

        @media (max-width: 767px) {
            font-size: 3rem;
            line-height: calc(60 / 30);
        } 
    }
}

/*---------------
ABOUTセクション
---------------*/
.about {
    position: relative;
}

.about__image img {
    aspect-ratio: 1080 / 500;
    object-fit: cover;

    @media (max-width: 767px) {
        aspect-ratio: 375 / 584;
    }
}

.about__contents {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: {
        top: calc(110 / 1080 * 100vw);
        right: calc(438 / 1080 * 100vw);
    }
    display: flex;
    flex-direction: row-reverse;
    z-index: 100;

    @media (max-width: 767px) {
        // padding-top: calc(219 / 375 * 100vw);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: {
            top: 5rem;
            bottom: 5rem;
            right: 0;
        
        }
        
    }
}

.about__title,
.about__desc {
    writing-mode: vertical-rl;

    h2 {
        font-size: 3rem;
        letter-spacing: 18%;
        line-height: 1;

        @media (max-width: 960px) {
            font-size: 2.5rem;
        }

    }

    p {
        font-size: 1.8rem;
        letter-spacing: 37%;
        line-height: calc(48 / 18);
        margin-right: calc(45 / 1080 * 100vw);

        @media (max-width: 960px) {
            font-size: 1.6rem;
            letter-spacing: 30%;
            line-height: calc(36 / 16);
        }

        @media (max-width: 767px) {
            letter-spacing: 25%;
            line-height: calc(26 / 16);
            margin-top: 2.4rem;
            margin-right: 0;
        }
    }
}

/*---------------
SERVICEセクション
---------------*/
.service {
    position: relative;
    padding-inline: 3rem;
    background: $color-background;
    padding: {
        top: calc(80 / 1080 * 100vw);
        bottom: calc(68 / 1080 * 100vw);
    } 
    @media (max-width: 767px) {
        padding: {
            top: 5rem;
            bottom: 5rem;
        } 
    }
}

.service__contents {
    margin-top: 6.8rem;
    display: grid;
    row-gap: 8rem;

    @media (max-width: 767px) {
        margin-top: 3.8rem;
        row-gap: 5rem;
    }
}

.service__item {
    display: flex;
    align-items: flex-end;

    &--2 {
        flex-direction: row-reverse;
    }

    @media (max-width: 767px) {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 0.6rem;
    }
}

.service__image {
    width: calc(600 / 920 * 100%);
    height: auto;
    flex-shrink: 0;
    position: relative;

    @media (max-width: 767px) {
        width: 100%;
        height: auto;
    }
}

.service-pic {
    img {
        aspect-ratio: 600 / 300;
        object-fit: cover;

        @media (max-width: 767px) {
            aspect-ratio:  315 / 220;
        }
    }
    
}

.pic-title {
    padding: {
        top: 1.9rem;
        bottom: 5.1rem;
    }

    @media (max-width: 767px) {
        padding: {
            top: 0.5rem;
            bottom: 0;
        }
    }
    p {
        font-size: 1.6rem;
        line-height: calc(25 / 16);
    }
    &--2 {
        p {
            text-align: right;

            @media (max-width: 767px) {
                text-align: left;
            }    
        }
    }
}

.service__textarea {
    width: calc(500 / 920 * 100%);
    height: auto;
    aspect-ratio: 500 / 250;
    flex-shrink: 0;
    background: $color-main;

    @media (max-width: 767px) {
        width: 100%;
        height: auto;
        aspect-ratio: auto;
        margin-left: 0;
        padding: {
            top: calc(20 / 375 * 100vw);
            left: calc(20 / 375 * 100vw);
            right: calc(20 / 375 * 100vw);
            bottom: calc(12 / 375 * 100vw);
        }
    }

    h3 {
        font-size: 2.5rem;
        font-weight: 600;
        line-height: calc(33 / 25);
        color: #fff;
    }
    p {
        margin-top: calc(17 / 1080 * 100vw);
        font-size: 1.6rem;
        font-weight: 600;
        line-height: calc(25 / 16);
        color: #fff;

        @media (max-width: 767px) {
            margin-top: calc(14 / 375 * 100vw);
        }
    }

    &--1 {
        margin-left: calc(-180 / 920 * 100%);
        padding: {
            top: calc(50 / 920 * 100%);
            right: calc(27 / 920 *100%);
            bottom: calc(42 / 920 * 100%);
            left: calc(248 / 920 * 100%);
            
        }

        @media (max-width: 930px) {
            padding-left: calc(150 / 768 * 100vw);
        }

        h3 {
            @media (max-width: 930px) {
                font-size: 2rem;
                line-height: calc(25 / 20);
            }
        }
    }

    &--2 {
        margin-right: calc(-180 / 920 * 100%);
        padding: {
            top: calc(50 / 920 * 100%);
            right: calc(185 / 920 *100%);
            bottom: calc(42 / 920 * 100%);
            left: calc(40 / 920 * 100%);
        }
    }

    &--3 {
        margin-left: calc(-180 / 920 * 100%);
        padding: {
            top: calc(38 / 920 * 100%);
            right: calc(27 / 920 *100%);
            bottom: calc(42 / 920 * 100%);
            left: calc(238 / 920 * 100%);
        }
        
        @media (max-width: 930px) {
            padding-left: calc(150 / 768 * 100vw);
        }
    }
}
